################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
*.vsidx
/.vs/deliveryproject/FileContentIndex/785c4207-197c-4998-9e82-e87ceeec984f.vsidx
/.vs/deliveryproject/FileContentIndex/6b6d6909-7a13-4f6c-a792-68662c9ca1ee.vsidx
/.vs/deliveryproject/FileContentIndex/246a24bb-a883-48af-b56e-286aaaa77ce2.vsidx
/.vs/deliveryproject/FileContentIndex/703c4ec9-d774-4661-94ba-12d797d0651c.vsidx
/.vs/slnx.sqlite
*.xml
/.gitignore
/__pycache__/fonctions.cpython-311.pyc
/.vs/deliveryproject/FileContentIndex/785c4207-197c-4998-9e82-e87ceeec984f.vsidx
/.vs/deliveryproject/FileContentIndex/703c4ec9-d774-4661-94ba-12d797d0651c.vsidx
/.vs/deliveryproject/FileContentIndex/6b6d6909-7a13-4f6c-a792-68662c9ca1ee.vsidx
/.vs/deliveryproject/FileContentIndex/246a24bb-a883-48af-b56e-286aaaa77ce2.vsidx
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore
